<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Database.Properties.Settings.eMESConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=eMES;Persist Security Info=True;User ID=emes_usr;Password=emes123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>