<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eSolution.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="eSolution.Properties.Settings.eMESConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=eMES;Persist Security Info=True;User ID=emes_usr;Password=emes123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <eSolution.Properties.Settings>
            <setting name="PrintQRCode" serializeAs="String">
                <value>LPT3</value>
            </setting>
            <setting name="PrintShipBox" serializeAs="String">
                <value>LPT4</value>
            </setting>
            <setting name="PrintQRCode_Meas" serializeAs="String">
                <value>LPT3</value>
            </setting>
            <setting name="ServerIP" serializeAs="String">
                <value>localhost</value>
            </setting>
        </eSolution.Properties.Settings>
    </userSettings>
</configuration>